DISCORD_TOKEN=your_token
CLIENT_ID=your_client_id
GUILD_ID=your_guild_id
LAVALINK_NODE_NAME=MainNode
LAVALINK_NODE_URL=lavalink:2333
LAVALINK_NODE_AUTH=youshallnotpass
LAVALINK_NODE_IS_SECURE=false
AUTO_REGISTER_COMMANDS=true
