DISCORD_TOKEN=your_discord_bot_token
CLIENT_ID=your_discord_application_client_id
# GUILD_ID=your_test_guild_id_optional

JOIN_EMOJI=<:join:000000000000000000>
LEAVE_EMOJI=<:leave:000000000000000000>
ERROR_EMOJI=<:error:000000000000000000>

MARMUT_ICON_40PX=https://example.com/marmut_40px.jpg

LAVALINK_NODE_NAME=Docker Lavalink
LAVALINK_NODE_URL=lavalink:2333
LAVALINK_NODE_AUTH=youshallnotpass
LAVALINK_NODE_IS_SECURE=false

YT_CIPHER_API_TOKEN=replace_with_a_strong_cipher_token
YOUTUBE_OAUTH_REFRESH_TOKEN=replace_with_youtube_oauth_refresh_token

NODE_ENV=development
